/*--------------------FUENTES--------------------*/
@font-face {
    font-family: "Ubuntu";
    src: url("fuentes/Ubuntu-Bold.ttf");
}
.titulo-main {
    /*width: 760px; 681*/
    width: 760px;
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
    line-height: 60px;
    margin: 0%;
}
.main p {
    width: 662px;
}
.CTA {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;  
    font-size: 20px; 
}
h1, legend, .p-modal {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
legend {
        font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.main p, .subtitulo-formulario {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}
.nuevos-tutoriales p {
    font-size: 18px;
}
.guias-de-compra p {
    font-size: 20px;
}
.formulario-texto h1 {
    /*.main h1, */
    font-size: 64px; 
}
.bullets h1, .bullets-contenedor h2, .guias-de-compra h1, .ultimas-noticias h1, .nuevos-tutoriales h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 35px;
}
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

/*--------------------PAGINA--------------------*/

/*figma:
1440x1024*/

body {
    margin: 0%;
    padding: 0%;
    /*padding-left: 144px;
    padding-right: 144px;*/
    background-color: #0C1D25;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.grid-contenedor {
    /*width: 1153px;*/
    width: 99.7%;
    /*height: 4505px;*/
    height: 1024px;
}

header {
    height: 74px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0C1D25;
    padding-left: 144px;
    padding-right: 144px;
}
header img {
    width: 170px;
    height: 66px;
}

.main {
    width: auto;
    height: 703px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #0C1D25;

    padding-left: 135px;
    padding-right: 60px;
}

.imagen-main {
    margin-top: 40px;
    padding-left: 5px;
    width: 425px;
    height: 660px;
  
    background-image: linear-gradient(to top, rgba(255,0,0,0) 45%,  #0C1D25 99%), url(imagenes/celular.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;

    display: block;
}
.titulo-main {
    width: 720px;
    margin-top: 146px;
}
h1 {
    color: #72DA38;
}
p {
    margin-top: 35px;
    margin-bottom: 0%;
    color: #CACACA;
}
.CTA {
    height: 51px;
    margin-top: 35px;
    border: none;
    padding-left: 99px;
    padding-right: 99px;
    background-color: #72DA38;
    cursor: pointer;
    border-radius: 80px;
}
.CTA:hover {
    background-color: #92E165;
    cursor: pointer;
}

.bullets {
    width: auto;
    height: 700px;
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    padding-left: 144px;
    padding-right: 144px;
}
.bullets h1 {
    margin-top: 61px;
    margin-bottom: 91px;
    color: #509829;
    text-align: center;
}
.bullets-contenedor {
    /*display: grid;*/
    /*grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-top: 48px;
    grid-template-areas: 
    "a-b"
    "b-b"
    "c-b";*/
    gap: 10px;
    /*justify-content: space-between;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bullets img {
    border-radius: 50%;
    border: 7px solid #509829;
    align-self: center;
}
.contenedor-texto {
    /*margin-left: 90px;*/
    /*width: 80%;*/
    width: 100%;
    text-align: center;
    /*flex-direction: row;*/
   /* grid-area: contenedor-texto;*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 10px;
}
.bullets-contenedor p {
    margin-top: 24px;
    color: #0C1D25;
    font-size: 20px;
}
.bullets-contenedor H2 {
    margin-top: 75px;
    margin-bottom: 0;
    /*margin: 0%;*/
    color: #509829;
}

.c-b h2 {
    width: 103%;
}




.a-b {
    /*height: 156px;*/
    height: auto;
   /*width: 1152px;*/
    /*width: 50%;*/
    width: 366px;
    /*grid-area: a-b;*/
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.b-b {
    /*height: 156px;*/
    height: auto;
   /*width: 1102px;*/
    /*width: 50%;*/
    width: 366px;
    /*grid-area: b-b;*/
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.c-b {
    /*height: 156px;*/
    height: auto;
    /*width: 1152px;*/
    /*grid-area: c-b;*/
    width: 366px;
    /*margin-right: 50px;*/
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#grad-tutos {
    width: 113.8%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255,0,0,0) 10%, #0C1D25 45%);
}
.nuevos-tutoriales {
    height: 475px;
    width: auto;
    background-color: #0C1D25;
    padding-left: 144px;
    padding-right: 144px;
    background-image: url(imagenes/fondotutoriales.png);
}

.tutoriales-contenedor {
    width: 100%;
    padding-top: 6.5%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 24px;
}
.imagen-tutos {
    height: 313px;
    width: 558px;
    background-image: url(imagenes/tutoriales.png);
}
.texto-tutos {
  width: 466px;
}
.texto-tutos p {
    width: 436px; 
}
.amarillo {
    color: #EFE485;
}

.ultimas-noticias{
    height: 751px;
    width: auto;
    background-color: #0C1D25;
    padding-left: 144px;
    padding-right: 144px;
    display: flex;
    flex-direction: row-reverse;
}
.contenedor-img-notis {
    margin-top: 40px;
    width: 454px;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0) 45%,  #0C1D25 99%), url(imagenes/celular-notis.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;
}
.contenedor-texto-noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-right: 30px;
    row-gap: 20px;
}
.ultimas-noticias h1 {
    width: 565px;
    text-align: end;
    margin: 0%;
}
.ultimas-noticias p {
    width: 466px;
    align-self: self-end;
    text-align: end;
    margin: 0%;
    font-size: 20px;
}

.guias-de-compra {
   height: 630px;
   width: auto;
   background-color: #86DA57;
   padding-left: 144px;
   padding-right: 144px;
   position: relative;
   z-index: -3;
}
.guias-contenedor {
   padding-top: 100px;
   display: flex;
   flex-direction: column;

}
.guias-contenedor h1, .guias-contenedor p {
    margin: 0%;
    padding: 0%;
    color: #0C1D25;
}
.guias-contenedor h1 {
    margin-bottom: 24px;
}
.guias-contenedor p {
    width: 463px;
    margin-bottom: 35px;
}
.circulos {
    position: absolute;
    z-index: -3;
    width: 9%;
    margin-right: 40px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedor1 {
    margin-left: 890px;
    width: 310px;
    height: 800px;
    background-color: #CED9C8;
    position: absolute;
    z-index: 0;
    border-top-left-radius: 700%;  
    border-bottom-left-radius: 300%;  
}
.contenedor2 {
    margin-left: 650px;
    width: 550px;
    height: 981px;
    background-color: #90CE6C;
    position: absolute;
    z-index: -1;  
    border-top-left-radius: 180%;  
    border-bottom-left-radius: 90%; 
}
.contenedor3 {
    margin-left: 410px;
    width: 790px;
    height: 981px;
    background-color: #92E165;
    position: absolute;
    z-index: -2;
    border-top-left-radius: 290%;  
    border-bottom-left-radius: 210%; 
}
.guias-contenedor img {
    width: 770px;
    margin-top: 98px;
    align-self: last baseline;
    position: absolute;
    z-index: 1;
}

.formulario {  
    height: 1015px;
    width: auto;
    background-color: #171E26;
    padding-left: 144px;
    padding-right: 144px;
}

.formulario-contenedor {
    height: 1027px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "formulario-texto formulario-real" "formulario-imagen .";
}
.formulario-texto {
    margin-top: 100px;
    width: 100%;
    height: 50px;
    grid-area: formulario-texto;
}
.formulario-real {
    padding-left: 11%;
    margin-top: 161px;
    width: auto;
    height: 50px;
    grid-area: formulario-real;
}

.formulario-imagen {
    margin-top: 130px;
    width: 418px;
    height: 660px;
    background-image: linear-gradient(to top, rgba(255,0,0,0) 45%,  #171E26 99%), url(imagenes/celular.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;
}

legend {
    padding-left: 0%;
    margin-bottom: 11px;
    color: #FFFFFF;
}
form #nombre, #email {
    /*width: 99%;*/
    /*width: 100%;*/
    width: 447px;
    height: 44px;
    border-radius: 5px;
}
.formulario-contenedor h1 {
    margin: 0%;
}
.formulario-contenedor p {
    margin-top: 25px;
    color: #FFFFFF;
}
/*checkbox*/
.checkbox {
    height: 228px;
    width: auto;
}
.contenedor-check {
    max-width: 500px;
}
.contenedor-check .checkbox {
    width: 100%;
}
.contenedor-check .checkbox ul {
    width: 87%;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 8px;
    column-gap: 10px;
    padding: 0%;
    background-color: #0C1D25;
}
.contenedor-check .checkbox ul li {
    background-color: #A6A6A6;
    width: 105px;
    height: 105px;
    cursor: pointer;
}
.contenedor-check .checkbox ul li label {
    display: block;
    width: 100%;
    height: 100%;
    transition: .2s all ease;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    align-content: center;
}
.contenedor-check .checkbox ul li label:hover {
    border: 2px solid #A6A6A6;
    background-color: #A6A6A6;
}
.contenedor-check .checkbox ul li input[type="checkbox"]:checked + label {
    border: 2px solid #72DA38;
    background-color: #A6A6A6;
}
.contenedor-check .checkbox ul li input[type="checkbox"] {
    display: none;
}
.imagen-check {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: auto;
    overflow: auto; 
    background-color: rgb(12, 29, 37, 0.8);
  }
  
  .modal-content {
    background-color: #fefefe;
   margin-top: 7vw;
   margin-bottom: 30vh;
   margin-left: 21.5%;
   margin-right: 22%;
    border: 1px solid #888;
    width: 54%;
    height: 405px;
    background-image: url(imagenes/imgmodal.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;
  }
  #grad-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-top: 0%;
    width: auto;
    height: 90%;
    background-image: linear-gradient(to left, rgba(255,0,0,0) 5%, #0c1d25 69%);
}
  
.close {
    float: right;
    align-self: last baseline;
  }
  .close img {
    margin: 10px;
    width: 20px;
    height: 20px;
  }
  
  .close:hover,
  .close:focus {
    cursor: pointer;
}
.p-modal {
    width: 443px;
    font-size: 40px;
    line-height: 60px;
    color: #D9D9D9;
}
.imgoculta {
    display: none;
}

footer{
    height: 176px;
    width: auto;
    background-color: 0E1217;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 144px;
    padding-right: 144px;
}
.contenedor-img {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
footer img {
    height: auto;
    width: 141px;
}

.br {
    display: none;
}
.br1 {
    display: none;
}

/*--------------------MEDIA QUERYS--------------------*/
@media (max-width: 600px){ 
    body {
        background-color: #0C1D25;
    }
    header {
        width: auto;
        height: 63px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .grid-contenedor {
        height: auto;
    }
    /*h1 {
        color: blue;
    }*/
    .main {
        /*margin: 0%;*/
        width: auto;
        height: auto;
        padding-left: 23px;
       padding-right: 0%;
       display: flex;
       flex-direction: column-reverse;
       justify-content: end;
    }
    .imagen-main {
        align-self: flex-end;
        padding: 0%;
        /*margin: 0%;*/
        margin-bottom: 10px;
       width: 300px;
        height: 536px;
    }
    .titulo-main {
        padding: 0%;
        width: 90%;
        font-size:40px; 
        margin: 0%;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .main p {
       width: 85%;
        font-size: 25px;
        font-weight: 700;
        margin: 0%;
        margin-bottom: 44px;
    }
    .CTA {
        width: 325px;
        height: 50px;
        margin: 0%;
        margin-left: 20%;
        margin-bottom: 53px;
        text-align: center;
    }

    .bullets {
        width: auto;
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-top: 5px;
        padding: 0%;
        padding-left: 20px;
        padding-right: 20px;
        row-gap: 0%;
    }
    .bullets h1 {
        font-size: 30px;
        margin-top: 35px;
        margin-bottom: 19px;
        text-align: start;
    }
    .bullets-contenedor {
        margin-top: 0%;
        /*margin-bottom: 40%;*/
        gap: 45px;
    }
    .bullets h2 {
        font-size: 20;
        margin-top: 0;
        text-align: start;
    }
    .bullets p {
        margin-top: 10px;
    }
    .bullets .contenedor-texto {
        margin-left: 19px;
        text-align: start;
        font-size: 20px;
    }
    /*.b-b .contenedor-texto {
        margin-left: 50px;
        text-align: end;
        margin-right: 19px;
    }*/
    .bullets img {
        margin: 0%;
        height: 79px;
        width: 79px;
    }
    .a-b {
        margin: 0%;
        margin-bottom: 69px;
        height: 90px;
        width: 428px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
    }
    .b-b {
        margin: 0%;
        margin-bottom: 69px;
        height: 90px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 19px;
    }
    .c-b {
        margin: 0%;
        margin-bottom: 69px;
        height: 90px;
        width: 428px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nuevos-tutoriales {
        width: auto;
        height: 680px;
        padding: 0%;
    }
    .tutoriales-contenedor {
        width: auto;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left: 20px;
        margin-right: 20px;
    }
    #grad-tutos {
        width: auto;
        background-image: linear-gradient(to bottom, rgba(255,0,0,0) 10%, #0C1D25 45%);
    }
    .imagen-tutos {
        margin-top: 88px;
                height: 313px;
        width: 100%;

        align-self: center;
        background-size: cover;
        background-repeat: repeat-x;
        background-position-y: bottom;
    }

    .ultimas-noticias {
        width: auto;

        height: 753px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: end;

        padding-left: 20px;
        padding-right: 0%;
        position: relative;

    }
    .contenedor-img-notis {
        margin: 0%;
        width: 60%;
        height: 95%;
        align-self: last baseline;
        opacity: 0.5;
        position: absolute;
        z-index: 2;
    }
    .contenedor-texto-noticias {
        margin: 0%;
        margin-top: 18px;
        margin-bottom: 104px;
        position: absolute;
        z-index: 2;
    }

    .guias-de-compra {
        width: auto;
        height: 744px;
        padding-left: 0%;
        padding-right: 0%;
        position: relative;
        z-index: -2;
        display: flex;
    }
    .guias-contenedor h1, .guias-contenedor p {
        margin-left: 20px;
    }
    .guias-de-compra img {
        width: 705px;
        height: 56%;
        margin-top: 240px;
        align-self: center;        
        object-fit: contain;
    }
    .circulos {
        width: 100%;
        height: 100%;
    }
    .contenedor1 {
        margin-left: 0%;
        margin-top: 190%;
        width: 596px;
        height: 600px;
        border-radius: 50%;
    }
    .contenedor2 {
        margin-left: 0%;
        margin-top: 140%;
        width: 599px;
        height: 600px;
        border-radius: 60%;
    }
    .contenedor3 {
        margin-left: 0%;
        margin-top: 110%;
        width: 599px;
        height: 600px;
        border-radius: 0%;
        border-top-left-radius: 175%;
        border-top-right-radius: 180%;
    }

    .formulario {
        width: auto;
        /*height: 997px;*/
        height: 21%;

        padding-left: 20px;
        /*padding-right: 20px;*/
        padding-right: 0%;

       /* background-image:  url(imagenes/celular.png);*/
    }
    .formulario-texto {
        z-index: 2;
    }
    .formulario h1 {
        width: 100%;
        font-size: 35px;
    }
    .formulario p {
        font-weight: 700;
    }
    .formulario-contenedor{
        display: flex;
        flex-direction: column;
        justify-content: start;   
    }
    .formulario-real {
        margin-right: 20px;
        padding: 0%;
        z-index: 2;
    }
    form #nombre, #email {
        width: 98.5%;

        height: 44px;
    }  
    .contenedor-check .checkbox ul li {
        /*display: block;*/
        width: 132px;
        height: auto;
    }
    .imagen-check {
        width: 132px;
        height: 132px;
    }
    .CTA {
        margin-top: 80px;
        margin-bottom: 131px;
    }
    .formulario-imagen {
        width: 70%;
        height: 100%;
        margin-top: 135px;
        align-self: last baseline;
        opacity: 0.5;


        position: absolute;
        z-index: 1;
    }

    footer {
        margin: 0%;
        width: auto;
        height: 63px;

        padding-left: 20px;
        padding-right: 20px;
    }
    footer img {
        margin: 0%;
    }

    .modal {
        height: 100%;
        background-color: grey;
    }
    .modal-content {
        margin: 0%;
        width: 100%;
        height: 100%;
        /*background-color: #171E26;*/
        /*background-image: linear-gradient(to top, rgba(255,0,0,0) 45%,  #0C1D25 99%), linear-gradient(0deg, rgba(23, 30, 38, 0.565), rgba(23, 30, 38, 0.565)), url(imagenes/imgmodal2.png);*/
        /*object-fit: initial;*/
        background-size: none;
        background-repeat:no-repeat;
        background-position-y: bottom;

    }
    #grad-modal {
        padding: 0%;
        margin: 0%;

        width: 100%;
        height: 100%;
        background-size: cover;

        gap: 0;
        background-image: linear-gradient(to top, rgba(255,0,0,0) 45%,  #0C1D25 99%), linear-gradient(0deg, rgba(23, 30, 38, 0.565), rgba(23, 30, 38, 0.565)), url(imagenes/imgmodal2.png);    
        
       
    }
    .imgoculta {
        display: block;
        width: 170px;
        height: auto;

        align-self: center;
        margin-bottom: 97px;
    }
    .p-modal{
        align-self: center;
        color: #D9D9D9;
        width: 325px;
        height: 932px;
        text-align: center;
        margin: 0%;
        padding: 0%;
    }
    .br {
        display: block;
        margin-bottom: 40px;
    }
    .br1 {
        display: block;

    }
}

/*--------------------------------------------media 430-------------------------------------------*/

@media (max-width: 430px){

    html {
        height: 932px;
    }
    .grid-contenedor {
        height: auto;
    }

    header img {
        position: absolute;
        z-index: 2;
        align-self: center;
    }
    .main {
        height: 805px;
    }
    .imagen-main {
        align-self: last baseline;
        width: 77%;
        height: 77%;
        margin-top: 0%;
        margin-bottom: 24%;
        position: absolute;
        z-index: 1;
        opacity: 0.9;
    }
    .contenedor-main-info {
        position: absolute;
        z-index: 2;
    }
    .titulo-main {
        font-size: 30px;
    }
    .main p {
        width: 95%;
        font-size: 20px;
        margin-bottom: 10px;

    }
    .CTA {
        margin-top: 45px;
        margin-bottom: 73px;
        margin-left: 7%;

    }

    .bullets h2, p {
        width: auto;
        font-size: 20px;

    }
    .bullets-contenedor {
        width: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .contenedor-texto {
        margin-left: 0%;
        width: auto;
        margin: auto;
    }
    .a-b {
        width: auto;
        margin: 0;
        display: flex;
    }
    .b-b {
        margin: 0;
    }
    .c-b {
        width: auto;
        margin: 0;
        /*margin-bottom: 20px;*/
    }
    .b-b .contenedor-texto {
        margin-left: 0%;
        /*margin-right: 10px;*/
    }
    .b-b img {
        /*margin-right: 20px;*/
        margin: 0;
    }

    .nuevos-tutoriales {
        height: 580px;
    }
    .imagen-tutos {
        width: 380px;
        height: 213px;
    }
    .texto-tutos {
        width: auto;
    }
    .texto-tutos p {
        width: 380px;
        font-size: 16px;
    }

    .ultimas-noticias {
        height: 653px;
    }
    .contenedor-texto-noticias h1 {
        font-size: 30px;
        width: 390px;
    }
    .contenedor-texto-noticias p {
        font-size: 16px;
        width: 390px;
    }

    .guias-de-compra {
        height: 477px;
    }
    /*.guias-contenedor {
        margin-top: 0%;
        margin-bottom: 80%;
        align-self: self-start;
    }*/
    .guias-contenedor h1 {
        /*margin-top: 0%;
        margin-bottom: 0%;*/
        font-size: 30px;
        width: 390px;
    }
    .guias-contenedor p {
        font-size: 16px;
        width: 390px;
        /*margin-bottom: 50%;*/
    }
    .contenedor1 {
        width: 425px;
        height: 300px;
        border-radius: 0%;
        border-top-left-radius: 50%;  
        border-top-right-radius: 50%; 
    }
    .contenedor2 {
        width: 425px;
        height: 300px;  
        border-radius: 0%;
        border-top-left-radius: 50%;  
        border-top-right-radius: 50%; 
    }
    .contenedor3 {
        width: 425px;
        height: 300px;  
        border-top-left-radius: 50%;  
        border-top-right-radius: 50%; 
    }
    .guias-contenedor img {
        margin-top: 100px;
        width: 430px;
        height: 343px;
    }
    

    .formulario {
        height: 897px;
        /*margin-bottom: 50px;*/
    }
    .formulario-contenedor {
        height: 897px;
    }
    form {
        height: auto;
        /*margin-bottom: 100px;*/
    }
    .formulario-texto h1 {
        font-size: 25px;
    } 
    .formulario-texto p {
        font-size: 20px;
    } 
    .checkbox .contenedor-check .checkbox ul li {
        width: 88px;
        height: 88px;
    }
    label .imagen-check {
        margin-left: 5px;
        width: 85%;
        height: 85%;
    }
    .formulario-imagen {
        height: 624.92px;
        margin-top: 250px;
    }
    form .CTA {
        margin: 0%;
        margin-left: 7%;
    }

    footer {
        height: 63px;
    }

    /*form .CTA {
        margin-bottom: ;
    }*/

    /*footer {
        position: absolute;
        z-index: 3;
    }*/
}
