/*--------------------FUENTES--------------------*/
@font-face {
    font-family: "Ubuntu";
    src: url("fuentes/Ubuntu-Bold.ttf");
}
.titulo-main {
    /*width: 760px; 681*/
    width: 760px;
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
    line-height: 60px;
    margin: 0%;
}
.main p {
    width: 662px;
}
.CTA {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;  
    font-size: 20px; 
}
h1, legend, .p-modal {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
legend {
        font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.main p, .subtitulo-formulario {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}
.nuevos-tutoriales p {
    font-size: 18px;
}
.guias-de-compra p {
    font-size: 20px;
}
.formulario-texto h1 {
    /*.main h1, */
    font-size: 64px; 
}
.bullets h1, .bullets-contenedor h2, .guias-de-compra h1, .ultimas-noticias h1, .nuevos-tutoriales h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 35px;
}
/*.bullets H2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}*/
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
}

/*--------------------PAGINA--------------------*/
body {
    margin: 0%;
    padding: 0%;
    /*padding-left: 144px;
    padding-right: 144px;*/
    background-color: #0C1D25;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-contenedor {
    width: 1153px;
    width: 99.7%;
    /*height: 4417px;*/
    height: 4505px;
    /*display: flex;*/
    /*flex-direction: column;
    justify-content: space-between;*/
}

header {
    height: 74px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0C1D25;

    padding-left: 144px;
    padding-right: 144px;
}
header img {
    width: 170px;
    height: 66px;
    /*width: 170px;*/
    /*margin: -20px 0 -20px;*/
}

.main {
    width: auto;
   /* height: 579px;*/
    height: 703px;
    /*703px*/

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding-top: 124px;*/

    /*padding-top: 124px;*/

    background-color: #0C1D25;

    padding-left: 135px;
    padding-right: 60px;
}

.imagen-main {
    /*max-width: 580px;*/
    margin-top: 40px;
    padding-left: 5px;
    width: 425px;
    height: 660px;
  
    background-image: linear-gradient(to top, rgba(255,0,0,0) 45%,  #0C1D25 99%), url(imagenes/celular.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;

    display: block;
}
.titulo-main {
    width: 720px;
    margin-top: 146px;
}
h1 {

    color: #72DA38;
}
p {
    margin-top: 35px;
    margin-bottom: 0%;
    color: #CACACA;
}
.CTA {
    height: 51px;
    margin-top: 35px;
    border: none;
    padding-left: 99px;
    padding-right: 99px;
    background-color: #72DA38;
    cursor: pointer;
    border-radius: 80px;
}
.CTA:hover {
    background-color: #92E165;
    cursor: pointer;
}

.bullets {
    width: auto;
    height: 700px;
    /*height: 833px;*/
    background-color: #C4C4C4;

    display: flex;
    flex-direction: column;

    padding-left: 144px;
    padding-right: 144px;
}
.bullets h1 {
    /*display: block;*/
    margin-top: 100px;
}
.bullets-contenedor {
    
   /*margin-top: 121px;*/

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
   /* grid-template-areas: 
    "a-b contenedor-texto ."
    ". contenedor-texto b-b"
    "c-b contenedor-texto .";*/

    margin-top: 48px;

    grid-template-areas: 
    "a-b"
    "b-b"
    "c-b";

    /*padding-top: 100px;*/
    /*column-gap: 30px;*/
    gap: 20px;
    justify-content: space-between;
}
.contenedor-texto {
    /*column-gap: 90px; */   
    margin-left: 90px;
    width: 80%;
    text-align: start;
    /*display: flex;
    flex-direction: row;*/
    /*justify-content: center;*/

    grid-area: contenedor-texto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bullets-contenedor p {
    margin-top: 24px;
}
.b-b .contenedor-texto {
   /* width: 500px;*/
   width: 69%;
   margin-left: 0%;
   margin-right: 90px;
    text-align: end;
}
.bullets img {
    /*margin-right: 90px;*/
    border-radius: 50%;
    border: 7px solid #509829;
}
.bullets h1 {
    margin-top: 39px;
    color: #509829;
    text-align: center;
}
.bullets H2 {
    margin: 0%;
    color: #509829;
}
.bullets p {
 color: #0C1D25;
}


.a-b {
    height: 156px;
    /*width: 367px;*/
   /* width: 160px;*/
   width: 1152px;
    /*border-style: solid;
    border-color: black;*/
    grid-area: a-b;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.b-b {
    height: 156px;
    width: 1102px;
    /*width: 367px;*/
   /* border-style: solid;
    border-color: black;*/
    grid-area: b-b;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.c-b {
    height: 156px;
    /*width: 367px;*/
    width: 1152px;
    /*border-style: solid;
    border-color: black;*/
    grid-area: c-b;

    margin-right: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#grad-tutos {
    width: 113.8%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255,0,0,0) 10%, #0C1D25 45%);
}
.nuevos-tutoriales {
    height: 475px;
    width: auto;
    background-color: #0C1D25;

    padding-left: 144px;
    padding-right: 144px;

    background-image: url(imagenes/fondotutoriales.png);
    /*aca poner imagen de fondo*/
}

.tutoriales-contenedor {
    width: 100%;
    padding-top: 6.5%;
    /*100px*/
    display: flex;
    flex-direction: row;
    justify-content: start;
   /* padding-top: 100;*/
    gap: 24px;
}
.imagen-tutos {
    height: 313px;
    /*
    height: 269px;
    width: 564px;*/
    width: 558px;
    
   /* border-radius: 50%;*/

    background-image: url(imagenes/tutoriales.png);
}
.texto-tutos {
  width: 466px;
}
.texto-tutos p {
    width: 436px; 
}
.amarillo {
    color: #EFE485;
}


.ultimas-noticias{
    /*height: 17.8%;*/
    /*height: 603px;*/
    /*height: 976px;*/
    height: 751px;
    width: auto;
    background-color: #0C1D25;
 
    padding-left: 144px;
    padding-right: 144px;

    display: flex;
    flex-direction: row;

}
.contenedor-img-notis {
    margin-top: 40px;
  
    width: 454px;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0) 45%,  #0C1D25 99%), url(imagenes/celular-notis.png);

    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;
}
.contenedor-texto-noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10%;
    margin-left: 30px;

    row-gap: 20px;
}
.ultimas-noticias h1 {
    width: 565px;
    text-align: start;
    margin: 0%;
}
.ultimas-noticias p {
    width: 466px;
    text-align: start;
    margin: 0%;
}


.guias-de-compra {
   height: 630px;
   width: auto;
   background-color: #86DA57;

   padding-left: 144px;
   padding-right: 144px;
/**/
   position: relative;
   z-index: -3;
   /**/
}
.guias-contenedor {
   padding-top: 100px;
   display: flex;
   flex-direction: column;

}
.guias-contenedor h1, .guias-contenedor p {
    margin: 0%;
    padding: 0%;
    color: #0C1D25;
}
.guias-contenedor h1 {
    margin-bottom: 24px;
}
.guias-contenedor p {
    width: 463px;
    margin-bottom: 35px;
}
.circulos {
    position: absolute;
    z-index: -3;
   /* height: auto;*/
    width: 9%;
    margin-right: 40px;


    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.contenedor1 {
    margin-left: 890px;
    
    /*width: 981px;*/
    width: 310px;
    height: 800px;
   /*height: 661px;*/
    /*width: 730px;*/
    /*575px*/
    /*height: 100%;*/
    background-color: #CED9C8;
    position: absolute;
    z-index: 0;

    /*border-radius: 50%;*/

    border-top-left-radius: 700%;  
    border-bottom-left-radius: 300%;  

}
.contenedor2 {
    margin-left: 650px;

    /*width: 981px;
    height: 981px;*/

    width: 550px;
    height: 981px;
    /*height: 661px;*/

   /* width: 640px;
    height: 640px;*/
    /*width: 970px;
    height: 981px;*/
    background-color: #90CE6C;
    position: absolute;
    z-index: -1;  

    /*border-radius: 50%;*/

    border-top-left-radius: 180%;  
    border-bottom-left-radius: 90%; 
}
.contenedor3 {
    margin-left: 410px;

    width: 790px;
    height: 981px;
    /*width: 981px;
    height: 981px;*/
    background-color: #92E165;
    position: absolute;
    z-index: -2;

    /*border-radius: 50%;*/

    border-top-left-radius: 290%;  
    border-bottom-left-radius: 210%; 
}
.guias-contenedor img {
    width: 770px;
    /*height: 514px;*/
    margin-top: 98px;

    align-self: last baseline;

    position: absolute;
    z-index: 1;

}
/***/

.formulario {  
    height: 1015px;
    width: auto;
    background-color: #171E26;

    padding-left: 144px;
    padding-right: 144px;
}

.formulario-contenedor {
    /*height: auto;*/
    height: 1027px;
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    /*grid-template-areas:
    "a b" "c .";*/
    grid-template-areas:
    "formulario-texto formulario-real" "formulario-imagen .";

    /*padding-top: 100px;*/
}
.formulario-texto {
    margin-top: 100px;
    width: 100%;
    height: 50px;
    grid-area: formulario-texto;
}
.formulario-real {
    padding-left: 11%;
    margin-top: 161px;
    /*width: 100%;*/
    width: auto;
    height: 50px;
    grid-area: formulario-real;
}
/*.formulario-imagen {
    width: 100%;
    height: auto;
    grid-area: formulario-imagen;
}*/
.formulario-imagen {
    /*max-width: 580px;*/
    /*margin-top: -130px;*/
    margin-top: 130px;
    width: 418px;
    /*width: 428px;*/
    height: 660px;
    /*height: 708px;*/
    /*width: 418px;
    height: 580px;*/
    /*width: 100%;
    height: 580px; */

    background-image: linear-gradient(to top, rgba(255,0,0,0) 45%,  #171E26 99%), url(imagenes/celular.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;
}

legend {
    padding-left: 0%;
    margin-bottom: 11px;
    color: #FFFFFF;
}
form #nombre, #email {
    width: 99%;
    /*width: 462px;*/
    height: 44px;
    border-radius: 5px;
}
.formulario-contenedor h1 {
    margin: 0%;
}
.formulario-contenedor p {
    margin-top: 25px;
    color: #FFFFFF;
}
/*checkbox*/
.checkbox {
    height: 228px;
    width: auto;
    /*width: 462px;*/
    /*466*/
}
.contenedor-check {
    max-width: 500px;
}
.contenedor-check .checkbox {
    width: 100%;
}
.contenedor-check .checkbox ul {
    width: 87%;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 8px;
    column-gap: 10px;

    padding: 0%;

    background-color: #0C1D25;
}
.contenedor-check .checkbox ul li {
    background-color: #A6A6A6;
   /* border: 1px solid #A6A6A6;*/
    width: 105px;
    height: 105px;
    cursor: pointer;
}
.contenedor-check .checkbox ul li label {
    display: block;
    width: 100%;
    height: 100%;

    transition: .2s all ease;

    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;

    align-content: center;
}
.contenedor-check .checkbox ul li label:hover {
    border: 2px solid #A6A6A6;
    background-color: #A6A6A6;
}
.contenedor-check .checkbox ul li input[type="checkbox"]:checked + label {
    border: 2px solid #72DA38;
    background-color: #A6A6A6;
}
.contenedor-check .checkbox ul li input[type="checkbox"] {
    display: none;
}
.imagen-check {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    /*height: 100vh; */
    height: auto;
    overflow: auto; 
    /*background-color: rgba(0,0,0,0.5);*/
    /*background-color: #0C1D25;*/
    background-color: rgb(12, 29, 37, 0.8);

  }
  
  .modal-content {
    background-color: #fefefe;
   /* margin: 15% auto;*/
   /*margin-top: 11%;
   margin-bottom: 11%;*/
   margin-top: 7vw;
   margin-bottom: 30vh;
   margin-left: 21.5%;
   margin-right: 22%;
    /*padding: 20px;*/
    border: 1px solid #888;
    /*width: 57%;*/
    width: 54%;
    height: 405px;
    /*height: 90%;*/
    /*height: 65%;*
    /*height: 562px;*/

    background-image: url(imagenes/imgmodal.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position-y: bottom;
  }
  #grad-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
    margin-top: 0%;
    width: auto;
    height: 90%;
    background-image: linear-gradient(to left, rgba(255,0,0,0) 5%, #0c1d25 69%);
}
  
.close {

    float: right;
    /*align-self: baseline;
    position: absolute;
    z-index: 1;*/
    align-self: last baseline;
   /* color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;*/
  }
  .close img {
    margin: 10px;
    width: 20px;
    height: 20px;
  }
  
  .close:hover,
  .close:focus {
    /*color: #000;
    text-decoration: none;*/
    cursor: pointer;
}
.p-modal {
    /*margin-top: 50px;*/
    width: 443px;
    font-size: 40px;
    /*display: flex;
    flex-direction: row;*/
    
    line-height: 60px;
    color: #D9D9D9;
}
.imgoculta {
    display: none;
}


footer{
    /*height: 176px;*/
    height: 176px;
    width: auto;
    background-color: 0E1217;


    display: flex;
    flex-direction: column;
    justify-content: start;

    padding-left: 144px;
    padding-right: 144px;
}
.contenedor-img {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
footer img {
    height: auto;
    width: 141px;
}

.br {
    display: none;
}
.br1 {
    display: none;
}
.redes {
    display: none;
}
.redes-texto {
    display: none;
}
/*#cerrar {
    width: 20px;
    height: 20px;
    margin: 0%;
}*/

/*--------------------MEDIA QUERYS--------------------*/
@media (max-width: 600px){ 
    body {
        background-color: #0C1D25;
    }
    header {
        width: auto;
        height: 63px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .grid-contenedor {
        height: auto;
    }

    .main {
        margin: 0%;
        width: auto;
        /*height: 835px;*/
        height: auto;
        padding-left: 23px;
       /* padding-right: 23px;*/
       padding-right: 0%;
       /* background-image: url(imagenes/celular.png);*/
       display: flex;
       flex-direction: column-reverse;
       justify-content: end;
    }
    .imagen-main {
        align-self: flex-end;
        padding: 0%;
        margin: 0%;
        /*margin-left: 40%;*/
        margin-bottom: 10px;
       /* width: 329px;*/
       width: 300px;
        height: 536px;
        /*display: none;*/
    }
    .titulo-main {
        padding: 0%;
        width: 90%;
        font-size:40px; 
        margin: 0%;
        line-height: 35px;
        margin-bottom: 20px;
    }
    .main p {
       /* width: auto;*/
       width: 85%;
        font-size: 25px;
        font-weight: 700;
        margin: 0%;
        margin-bottom: 44px;
    }
    .CTA {
        width: 273px;
        height: 50px;
        margin: 0%;
        margin-left: 25%;
        margin-bottom: 53px;
    }



    .bullets {
        width: auto;

        height: 736px;

        display: flex;
        flex-direction: column;
        justify-content: start;

        padding-top: 5px;
        padding: 0%;
        padding-left: 20px;
        padding-right: 20px;

        row-gap: 0%;
    }
    .bullets h1 {
        font-size: 20;
        margin-top: 45px;
        text-align: start;
    }
    .bullets p {
        margin-top: 10px;
    }
    .bullets .contenedor-texto {
        margin-left: 19px;
        text-align: start;
        font-size: 20px;
    }
    .b-b .contenedor-texto {
        margin-left: 50px;
        text-align: end;
        margin-right: 19px;
    }
    .bullets img {
        margin: 0%;
        height: 79px;
        width: 79px;
    }
    .a-b {
        margin: 0%;
        margin-bottom: 69px;

        height: 90px;
        width: 428px;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        /*padding-left: 55px; 
        padding-right: 70px;*/
        align-items: center;
    }
    .b-b {
        margin: 0%;
        margin-bottom: 69px;

        height: 90px;
        width: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        /*padding-left: 55px; 
        padding-right: 78px;*/
        align-items: center;
    }
    .c-b {
        margin: 0%;
        margin-bottom: 69px;

        height: 90px;
        width: 428px;
        display: flex;
        flex-direction: row;
        /*justify-content: center; */
        justify-content: space-between;
        /*padding-left: 55px; 
        padding-right: 78px;*/
        align-items: center;
    }


    .nuevos-tutoriales {
        width: auto;
        height: 680px;

        padding: 0%;
    }
    .tutoriales-contenedor {
        width: auto;
        padding: 0%;
        /*padding-top: 121px;*/
        /*padding-bottom: 117px;*/
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-left: 20px;
        margin-right: 20px;
    }
    #grad-tutos {
        width: auto;
        background-image: linear-gradient(to bottom, rgba(255,0,0,0) 10%, #0C1D25 45%);
    }
    .imagen-tutos {
        margin-top: 88px;
        /*height: 213px;
        width: 381px;*/
                height: 313px;
        width: 100%;

        align-self: center;
        background-size: cover;
        background-repeat: repeat-x;
        background-position-y: bottom;
    }


    .ultimas-noticias {
        width: auto;

        height: 753px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: end;

        padding-left: 20px;
        padding-right: 0%;
        position: relative;

    }
    .contenedor-img-notis {
        margin: 0%;
        width: 60%;
        height: 95%;
        align-self: last baseline;
        opacity: 0.5;
        position: absolute;
        z-index: 2;
    }
    .contenedor-texto-noticias {
        margin: 0%;
        margin-top: 18px;
        margin-bottom: 104px;
        /*padding-left: 10%;
        padding-right: 10%;*/

        position: absolute;
        z-index: 2;
    }

    .guias-de-compra {
        width: auto;
        /*width: 100vw;*/
        height: 744px;

        /*padding-left: 20px;
        padding-right: 20px;*/
        padding-left: 0%;
        padding-right: 0%;

        position: relative;
        z-index: -2;

        display: flex;
    }
    .guias-contenedor h1, .guias-contenedor p {
        margin-left: 20px;
    }
    .guias-de-compra img {

        width: 705px;
        height: 56%;
        margin-top: 240px;
        align-self: center;
        
        object-fit: contain;
    }
    .circulos {
        width: 100%;
        height: 100%;

    }
    .contenedor1 {
        /*margin-right: 10%;*/
        margin-left: 0%;
        margin-top: 190%;
        /*width: 300px;*/
        width: 596px;
        height: 600px;
        border-radius: 50%;
    }
    .contenedor2 {
        margin-left: 0%;
        margin-top: 140%;
        width: 599px;
        height: 600px;
        border-radius: 60%;
    }
    .contenedor3 {
        margin-left: 0%;
        margin-top: 110%;
        width: 599px;
        height: 600px;
        border-radius: 0%;
        border-top-left-radius: 175%;
        border-top-right-radius: 180%;
    }



    .formulario {
        width: auto;
        /*height: 997px;*/
        height: 21%;

        padding-left: 20px;
        /*padding-right: 20px;*/
        padding-right: 0%;

       /* background-image:  url(imagenes/celular.png);*/
    }
    .formulario-texto {
        z-index: 2;
    }
    .formulario h1 {
        width: 100%;
        font-size: 35px;
    }
    .formulario p {
        font-weight: 700;
    }
    .formulario-contenedor{
        display: flex;
        flex-direction: column;
        justify-content: start;   
    }
    .formulario-real {
        margin-right: 20px;
        padding: 0%;
        z-index: 2;
    }
    form #nombre, #email {
        width: 98.5%;

        height: 44px;
    }  
    .contenedor-check .checkbox ul li {
        display: block;
        width: 132px;
        height: auto;
    }
    .imagen-check {
        width: 132px;
        height: 132px;
    }
    .CTA {
        margin-top: 80px;
        margin-bottom: 131px;
    }
    .formulario-imagen {
        width: 70%;
        height: 100%;
        margin-top: 135px;
        align-self: last baseline;
        opacity: 0.5;


        position: absolute;
        z-index: 1;
    }

    footer {
        margin: 0%;
        width: auto;
        height: 63px;

        padding-left: 20px;
        padding-right: 20px;
    }

    .modal {
        height: 100%;
        background-color: grey;
    }
    .modal-content {
        margin: 0%;
        width: 100%;
        height: 100%;
        /*background-color: #171E26;*/
        /*background-image: linear-gradient(to top, rgba(255,0,0,0) 45%,  #0C1D25 99%), linear-gradient(0deg, rgba(23, 30, 38, 0.565), rgba(23, 30, 38, 0.565)), url(imagenes/imgmodal2.png);*/
        /*object-fit: initial;*/
        background-size: none;
        background-repeat:no-repeat;
        background-position-y: bottom;

    }
    #grad-modal {
        padding: 0%;
        margin: 0%;

        width: 100%;
        height: 100%;
        gap: 0;
        background-image: linear-gradient(to top, rgba(255,0,0,0) 45%,  #0C1D25 99%), linear-gradient(0deg, rgba(23, 30, 38, 0.565), rgba(23, 30, 38, 0.565)), url(imagenes/imgmodal2.png);    
        
        background-size: 110% 60%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
       
    }
    .imgoculta {
        display: block;
        width: 170px;
        height: auto;

        align-self: center;
        margin-bottom: 97px;
    }
    .p-modal{
        align-self: center;
        color: #D9D9D9;
        width: 325px;
        height: 390px;
        text-align: center;
        margin: 0%;
        padding: 0%;
    }
    .br {
        display: block;
        margin-bottom: 40px;
    }
    .br1 {
        display: block;

    }
    .redes {
        width: 300px;
        height: auto;
        display: block;
        align-self: center;

        display: flex;
        flex-direction: row;

        flex-grow: 1;
        column-gap: 20px;

    }
    .redes-texto {
        display: block;
        margin-top: 40px;
        align-self: center;
        font-size: 16px;
    }


}

